* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url('../img/vertical_cloth.png');
  background-color: #4c4c4e;
  padding: 4em;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  color: #ddd;
}

.dropdown {
  color: #fff;
  display: inline-block;
  width: 30%;
  text-align: left;
  position: relative;
}
.dropdown-button {
  padding: .75rem;
  background-color: #4c4c4e;
  color: #fff;
  display: block;
  width: 100%;
  font-size: .75rem;
  text-align: left;
  box-shadow: 1px 1px 25px -5px black;
  border: 2px 8c8c9e solid;
  border-radius: 5px;
}

.dropdown-button:active {
  background-color: #666;
}

.dropdown-button:focus {
  outline: none;
}

.dropdown-options-wrapper {
  opacity: 0;
  top: 2em;
  position: absolute;
  overflow: auto;
  transition: all .1s ease-in-out;
  width: 100%;
}

.dropdown-active .dropdown-options-wrapper {
  top: 3em;
  opacity: 1;
}

.dropdown-options-wrapper:before {
  content: ' ';
  height: 0em;
  width: 0em;
  border: .5em solid #eee;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  left: 1em;
  z-index: 5;
}

.dropdown-option {
  list-style: none;
  padding: 1em;
  position: relative;
  font-size: .85em;
}

.dropdown-option:hover {
  background-color: #dedede;
  color: #666;
}

.dropdown-options {
  padding: 0;
  border-radius: 5px;
  position: relative;
  background-color: #eee;
  color: #aaa;
  /*top: -1em;*/
  box-shadow: 1px 1px 25px -5px black;
  overflow: hidden;
  z-index: 1;
}

.dropdown-button:before,
.dropdown-option:before {
  position: absolute;
  right: 1em;
  font-size: 1.25em;
}

h4 {
  color: #fff;
  font-style: italic;
  margin-top: 3em;
}
.text-wrapper {
  position: relative;
  width: 66%;
  margin: 2em auto;
  min-height: 6em;
}

.text-input {
  position: absolute;
  top: 0;
  bottom: 1em;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 1.25em;
  padding: 1em;
  border-radius: 5px;
  resize: none;
  overflow: hidden;
}

.text-mirror {
  font-size: 1.25em;
  padding: 1em;
  padding-top: 2em;
  white-space: pre-line;
  word-break: break-word;
}

.text-input:focus,
input:focus {
  outline: none;
}


.characters-remain {
  color: #fff;
  text-align: right;
}

input {
  font-size: 1.25em;
}
